@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');



body
{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  /* position: relative; */
  /* background-color: black; */
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg);
  /* background-image: url(C:/Users/Lincoln/Desktop/SmallProject/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg); */
  margin: 0px;
  justify-content: center;
  align-items: center;
}
.btn-hover
{
  width: 200px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.header
{

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(44,44,71,1) 30%, rgba(23,22,22,1) 100%);
  height: 1%;
  width: 100%;
  margin-bottom: 100px;
}
.header-left
{

  position: absolute;
  top: 0px;
  left: 5px;
}
.header-center
{
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
  margin: 10px;
  border-radius: 11px;
  background-color: #d6d6d6;
  font-size: 28px;
}
.header-center img, h3
{
  max-width: 100%;
  max-height: 100%;
}
.header button
{
  position: absolute;
  top: 0px;
  right: 5px;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.contacts-container
{
  display: flex;
  position: relative;
  width: 75%;

  display: flex;
  border: solid;

}
.add-container
{
  width: 50%;
  text-align: center;
  background-color: #171616;
  border-radius: 20px 0px 0px 20px;
}
.addContact input
{
  width: 250px;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  margin: 8px;
  border: solid #585858;
  border-radius: 10px;
}
.addContact button
{
  background-image: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(44,44,71,1) 65%, rgba(23,22,22,1) 100%);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  margin: 15px;
}
.search-container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0px 20px 20px 0px;
  background-color: #2c2c47;

  width: 50%;

}
.search-bar
{
  text-align: center;
  width: 100%;
}
.search-bar input
{
  border-color: black;
  width: 50%;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
}

.search-bar button
{
  border-color: black;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.contact-btns
{

  position: absolute;
  bottom: 0px;
  visibility: hidden;
}
.returned-contacts
{
  margin: 5px;

}

#contactList
{
  color: white;
  font-size: 20px;
  font-weight: 500;
}
#editContact-btn
{
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
#deleteContact-btn
{
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
