@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');



body
{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  /* position: relative; */
  /* background-color: black; */
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg);
  /* background-image: url(C:/Users/Lincoln/Desktop/SmallProject/images/clay-banks-u27Rrbs9Dwc-unsplash.jpg); */
  margin: 0px;
  justify-content: center;
  align-items: center;
  /* background-attachment: fixed;
  background-repeat: no-repeat; */
}
.btn-hover
{
  width: 200px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
{
   display: none;
}
.header
{

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(44,44,71,1) 30%, rgba(23,22,22,1) 100%);
  height: 25%;
  width: 100%;
  margin-bottom: 75px;
}
.header-left
{

  position: absolute;
  top: 0px;
  left: 5px;
}
.header-center
{
  display: flex;
  border: solid;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  margin: 10px;
  border-radius: 11px;
  background-color: #d6d6d6;
  font-size: 28px;
}
.header-center img, h3
{
  max-width: 100%;
  max-height: 100%;
}
.header button
{
  position: absolute;
  top: 0px;
  right: 5px;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.contacts-container
{
  display: flex;
  position: relative;
  width: 75%;
  margin-bottom: 100px;
  display: flex;
  height: 575px;
  /* max-height: 65%; */

}
.add-container
{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  /* justify-content: center;
  align-items: center; */
  /* background-color: #171616; */
  background: #171616;
  border-radius: 20px 0px 0px 20px;
  max-height: 100%;
}
.addContact
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addContact input
{
  
  text-align: center;
  width: 275px;
  font-size: 20px;
  font-family: 'Red Hat Display', sans-serif;
  margin: 8px;
  border: solid #585858;
  border-radius: 10px;
}
.addContact button
{
  background-image: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(44,44,71,1) 65%, rgba(23,22,22,1) 100%);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  margin: 15px;
  display: block;
}
.addContact p
{
  color: white;
  font-size: 20px;
}


.search-container
{
display: flex;
flex-direction: column;
/* align-items: center; */

border-radius: 0px 20px 20px 0px;
background-color: #2c2c47;
max-height: 100%;
width: 50%;

}
.search-bar
{
text-align: center;
width: 100%;
}
.search-bar input
{
border-color: black;
width: 75%;
font-size: 18px;
font-family: 'Red Hat Display', sans-serif;
padding-right: 25px;
}

.search-bar button
{
  border-color: black;
  height: 30px;

  border-radius: 30px;
  cursor: pointer;
}
.search-bar .auto-complete-box
{
  /* padding: 10px 8px; */
  /* padding: 0px 100px 0 0px; */
  /* margin: 5px; */
  max-height: 65%;
  overflow-y: auto;
  /* opacity: 0;
  pointer-events: none; */
}
.returned-contacts li
{

  
  color: white;
  list-style: none;
  max-width: 100%;
  cursor: default;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-item:center;
  justify-content:space-between;
  padding: 0 1rem;
  font-weight: bolder;
  white-space:nowrap;
  /* display: none; */
}
.returned-contacts li:hover
{
  background-color: grey;
}

.contact-btns
{

  position: absolute;
  bottom: 0px;
  visibility: hidden;
}
.returned-contacts
{
  /* margin: 5px; */
  width: 100%;
  max-height: 80%;
  /* max-height: 75%; */

}

#contactList
{

  padding-inline-start: 0px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  overflow:hidden;
  overflow-y:auto;
}

#deleteContact-btn
{


  height: 45px;
  font-size: 18px;
  font-weight: 800;
  width: 100px;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  flex: 0 0 auto;
}
#viewContact-btn
{


  height: 45px;
  font-size: 18px;
  font-weight: 800;
  width: 100px;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  margin-left:auto;
  flex: 0 0 auto;
}
#updateContact-btn
{
  display: none;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
